.printing
  .spacial-features(data-scroll='')
    section.container
      .row
        .col-12
          .header
            h2 #{i18n.printing_industries.title}
      .row
        .col-md-4
          .feature
            img(src='../images/drone.jpg')
            h3
              | #{i18n.printing_industries.prototypes}
        .col-md-4
          .feature
            img(src='../images/smartphone_support.jpg')
            h3
              | #{i18n.printing_industries.gifts}
        .col-md-4
          .feature
            img(src='../images/house.jpg')
            h3
              | #{i18n.printing_industries.architecture}
        .col-md-4
          .feature
            img(src='../images/celular_lamp.jpg')
            h3
              | #{i18n.printing_industries.decoration}
        .col-md-4
          .feature
            img(src='../images/usefull_tools.webp')
            h3
              | #{i18n.printing_industries.gadgets}
        .col-md-4
          .feature
            img(src='../images/question_mark.jpg')
            h3
              | #{i18n.printing_industries.imagination}
