.spacial-features(data-scroll='')
  section.container
    .row
      .col-12
        .header
          h2 #{i18n.printing_industries.title}
    .row
      .col-md-4
        .feature
          img(src='images/icons/spacial-devices.png')
          h3
            | #{i18n.printing_industries.prototypes}
      .col-md-4
        .feature
          img(src='images/icons/spacial-download.png')
          h3
            | #{i18n.printing_industries.gifts}
      .col-md-4
        .feature
          img(src='images/icons/spacial-location.png')
          h3
            | #{i18n.printing_industries.architecture}
      .col-md-4
        .feature
          img(src='images/icons/spacial-settings.png')
          h3
            | #{i18n.printing_industries.decoration}
      .col-md-4
        .feature
          img(src='images/icons/spacial-location.png')
          h3
            | #{i18n.printing_industries.gadgets}
      .col-md-4
        .feature
          img(src='images/icons/spacial-settings.png')
          h3
            | #{i18n.printing_industries.imagination}
