.printing#limitaciones
  .limitations
    .index-features(data-scroll='')
      .container
        header
          h3 #{i18n.printing_limitations.title}
        section.features
          .row
            .col-md-6.feature
              img.icon(src='../images/icons/materials.png')
              section
                h4 #{i18n.printing_limitations.materials_title}
                p #{i18n.printing_limitations.materials_text}
            .col-md-6.feature
              img.icon(src='../images/icons/color.png')
              section
                h4 #{i18n.printing_limitations.color_title}
                p #{i18n.printing_limitations.color_text}
          .row
            .col-md-6.feature
              img.icon(src='../images/icons/size.png')
              section
                h4 #{i18n.printing_limitations.size_title}
                p #{i18n.printing_limitations.size_text}
            .col-md-6.feature
              img.icon(src='../images/icons/price.png')
              section
                h4 #{i18n.printing_limitations.price_title}
                p #{i18n.printing_limitations.price_text}
