.index-features(data-scroll='')
  .container
    header
      h3 #{i18n.printing_limitations.title}
      p
        | #{i18n.printing_limitations.intro}
    section.features
      .row
        .col-md-6.feature
          img.icon(src='images/icons/features-icon-ok.png')
          section
            h4
              | #{i18n.printing_limitations.materials_title}
            p
              | #{i18n.printing_limitations.materials_text}
        .col-md-6.feature
          img.icon(src='images/icons/features-icon-canvas.png')
          section
            h4
              | #{i18n.printing_limitations.color_title}
            p
              | #{i18n.printing_limitations.color_text}
      .row
        .col-md-6.feature
          img.icon(src='images/icons/features-icon-world.png')
          section
            h4
              | #{i18n.printing_limitations.size_title}
            p
              | #{i18n.printing_limitations.size_text}
        .col-md-6.feature
          img.icon(src='images/icons/features-icon-compass.png')
          section
            h4
              | #{i18n.printing_limitations.price_title}
            p
              | #{i18n.printing_limitations.price_text}
