.printing#printing_tutorial
  .tutorial
    .index-features(data-scroll='')
      .container
        header
          h3 #{i18n.printing_tutorial.title}
          p #{i18n.printing_tutorial.intro}
        section.features
          .row
            .col-md-4.feature
              section
                img.icon(src='../images/design_icon.png')
                h4 #{i18n.printing_tutorial.file_title}
                p #{i18n.printing_tutorial.file_text}
            .col-md-4.feature
              section
                img.icon(src='../images/internet_icon.png')
                h4 #{i18n.printing_tutorial.quote_title}
                p #{i18n.printing_tutorial.quote_text}
            .col-md-4.feature
              section
                img.icon(src='../images/delivery.png')
                h4 #{i18n.printing_tutorial.delivery_title}
                p #{i18n.printing_tutorial.delivery_text}
