.agency-footer.dark-background
  .container
    .row
      .col-sm-12.col-md-3
        h4 R3D
        p.actividad #{i18n.footer.description}
      .col-sm-12.col-md-3
        h4 #{i18n.footer.address_title}
        p 
          | #{i18n.footer.address_line1}
          | #{i18n.footer.address_line2}
      .col-sm-12.col-md-3
        h4 #{i18n.footer.contact_title}
        p 
          |+56 9 4900 9156
          br
          | contacto@r3d.cl
      .col-sm-12.col-md-3
        h4 Social
        a.social.first(href='https://www.facebook.com/', target='_blank')
          i.fa.fa-facebook
        a.social(href='https://www.linkedin.com/company-beta/15142888/', target='_blank')
          i.fa.fa-linkedin
