nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent(role='navigation')
  .container.no-override
    a.navbar-brand(href='index.html')
      img.d-none.d-lg-inline.mr-2.w-25(src='../images/logo-alt-w.png')
      |         R3D
    button.navbar-toggler(data-toggle='collapse', data-target='#navbar-collapse')
      span.navbar-toggler-icon
    #navbar-collapse.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav
        li.nav-item.active.dropdown
          a.nav-link.dropdown-toggle(href='index.html')
            | #{i18n.section.home}
            i.ion-chevron-down
          .dropdown-menu(role='menu')
            a.dropdown-item(href='index.html#services') #{i18n.section.services}
            a.dropdown-item(href='index.html#reviews') #{i18n.section.reviews}
            a.dropdown-item(href='index.html#clients') #{i18n.section.clients}
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='printing.html')
            | #{i18n.section.printing_3d}
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='design.html')
            | #{i18n.section.design_3d}
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='projects.html')
            | #{i18n.section.projects}
        li.nav-item.dropdown.dropdown-extend
          a.nav-link.dropdown-toggle(href='contact.html')
            | #{i18n.section.contact}
        li.nav-item
          a.nav-link.nav-link--rounded(href='#') #{i18n.section.shop}
  ul#i18n
    each lang in languages
      li: a(href=`../${lang}/index.html`) #{lang}
