.index
  .spacial-features(data-scroll='')
    section#services.container
      .row
        .col-12
          .header
            h2 #{i18n.services.title}
      .row
        .col-md-4
          .feature
            img(src='../images/turbina_origen.jpg', data-trigger='zoomerang')
            h3 #{i18n.section.printing_3d}
            button.btn.btn-primary 
              a(href='printing.html') #{i18n.nav.more_info}
        .col-md-4
          .feature
            img(src='../images/design_square.png', data-trigger='zoomerang')
            h3 #{i18n.section.design_3d}
            button.btn.btn-primary
              a(href='design.html') #{i18n.nav.more_info}
        .col-md-4
          .feature
            img(src='../images/venta_material_square.jpg', data-trigger='zoomerang')
            h3 #{i18n.section.shop}
            button.btn.btn-primary
              a(href='#') #{i18n.nav.more_info}
