.design
  #design_how
    .spacial-features(data-scroll='')
      section.container
        .row
          .col-12
            .header
              h2 #{i18n.design_how.title}
        .row
          .col-md-6
            .feature
              img(src='../images/designer.jpg')
              h3 #{i18n.design_how.scratch_title}
              p 
                |#{i18n.design_how.scratch_text1}
                a(href='contact.html#contact_info')
                  |#{i18n.design_how.scratch_link1}
                |#{i18n.design_how.scratch_text2}
                a(href='contact.html#contact_map')
                  |#{i18n.design_how.scratch_link2}
                |#{i18n.design_how.scratch_text3}
          .col-md-6
            .feature
              img(src='../images/diseno_bot4you.png')
              h3 #{i18n.design_how.logo_title}
              p 
                | #{i18n.design_how.logo_text1}
                a(href='contact.html#contact_info')
                  |#{i18n.design_how.logo_link}
                |#{i18n.design_how.logo_text2}