.design
  .spacial-features(data-scroll='')
    section.container
      .row
        .col-12
          .header
            h2 #{i18n.design_how.title}
      .row
        .col-md-4
          .feature
            img(src='../images/designer.jpg')
            h3 #{i18n.design_how.scratch_title}
            p #{i18n.design_how.scratch_text}
        .col-md-4
          .feature
            img(src='../images/scan.jpg')
            h3 #{i18n.design_how.scanner_title}
            p #{i18n.design_how.scanner_text}
        .col-md-4
          .feature
            img(src='../images/diseno_bot4you.png')
            h3 #{i18n.design_how.logo_title}
            p #{i18n.design_how.logo_text}