.projects
  .project_header
  .agency-portfolio-hero
    section.container
      h1 #{i18n.projects.title}



  .blog-cols-wrapper
    .container
      each project in i18n.our_projects
        .post
          .post-wrapper
            //.post-bg(style="background-image:url=`../images/${project.image}`")
            img(src=`../images/projects/${project.image}`)
            .post-intro
              .post-title #{project.title}
              p.post-description #{project.text}
              
              
        
