.agency-footer.dark-background
  .container
    .row
      .col-sm-12.col-md-3
        h4 R3D
        p.actividad #{i18n.footer.description}
      .col-sm-12.col-md-4
        h4 #{i18n.footer.address_title}
        p
          | #{common.address.line1}
          br
          | #{common.address.line2}
      .col-sm-12.col-md-2
        h4 #{i18n.footer.contact_title}
        p
          | contacto@r3d.cl
          br
          | #{common.numbers.fix}
          br
          | #{common.numbers.mobile}

      .col-sm-12.col-md-3
        h4 Social
        a.social.first(href='https://www.facebook.com/r3d.cl/', target='_blank')
          i.fa.fa-facebook
        a.social(href='https://www.instagram.com/r3d_impresion_3d', target='_blank')
          i.fa.fa-instagram
        a.social(href='https://twitter.com/R3D_Impresion3D', target='_blank')
          i.fa.fa-twitter
        a.social(href='https://www.linkedin.com/company/15142888/', target='_blank')
          i.fa.fa-linkedin
