script(src='../js/smooth_scroll.js')
nav.navbar.navbar-expand-md.navbar-dark.bg-transparent(role='navigation')
  .container.no-override
    a.navbar-brand(href='index.html')
      .logo_r3d
        img.d-lg-inline.mr-2.w-25(src='../images/logos/logo_white.png')
    button.navbar-toggler(data-toggle='collapse', data-target='#navbar-collapse')
      span.navbar-toggler-icon
    #navbar-collapse.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav
        li.nav-item.active.dropdown
          a.nav-link.dropdown-toggle(href='index.html') #{i18n.section.home}
            i.ion-chevron-down
          .dropdown-menu(role='menu')
            a.dropdown-item(href='index.html#servicios') #{i18n.section.services}
            a.dropdown-item(href='index.html#recomendaciones') #{i18n.section.reviews}
            a.dropdown-item(href='index.html#clientes') #{i18n.section.clients}
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='impresion3d.html') #{i18n.section.printing_3d}
            i.ion-chevron-down
          .dropdown-menu(role='menu')
            a.dropdown-item(href='impresion3d.html#aplicaciones') #{i18n.section.printing_industries}
            a.dropdown-item(href='impresion3d.html#limitaciones') #{i18n.section.printing_limitations}
            a.dropdown-item(href='impresion3d.html#tutorial') #{i18n.section.printing_tutorial}
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='diseno.html') #{i18n.section.design_3d}
            i.ion-chevron-down
          .dropdown-menu(role='menu')
            a.dropdown-item(href='diseno.html#intro') #{i18n.section.design_introduction}
            a.dropdown-item(href='diseno.html#como') #{i18n.section.design_how}
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='proyectos.html') #{i18n.section.projects}
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='contacto.html') #{i18n.section.contact}
            i.ion-chevron-down
          .dropdown-menu(role='menu')
            a.dropdown-item(href='contacto.html#info') #{i18n.section.contact_info}
            a.dropdown-item(href='contacto.html#mapa') #{i18n.section.contact_map}
    ul#i18n
      each lang in languages
        li
          a(href=`../${lang}/index.html`)
            img(src=`../images/${lang}.png`)

