//script(src='../js/zoom_image.js')
  script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js')
  script(type='text/javascript', src='/fancybox/jquery.fancybox-1.3.4.pack.js')
  script(type='text/javascript', src='/fancybox/jquery.easing-1.4.pack.js')
  script(type='text/javascript', src='/fancybox/jquery.mousewheel-3.0.4.pack.js')


.projects
  .project_header
  .agency-portfolio-hero
    section.container
      h1 #{i18n.projects.title}



  .blog-cols-wrapper
    .container
      each project in i18n.our_projects
        .post
          .post-wrapper
            //.post-bg(style="background-image:url=`../images/${project.image}`")
            img(src=`../images/projects/${project.image}`)
            //.fullscreen
            .post-intro
              .post-title #{project.title}
              p.post-description #{project.text}
              
              
        
